<div class="edit-sched-div">
  <table class="t">
    <thead class="t-h">
      <th *ngFor="let colName of columns">
        {{colName}}
      </th>
    </thead>

    <tbody class="t-b">
      <tr *ngFor="let schedule of (schedules$ | async) " class="t-r">
        <td>
          {{schedule.id}}
        </td>
        <td [ngClass]="isMorningShift(schedule.startTime)?'morning':'evening'">
          <span>{{isMorningShift(schedule.startTime)?"Morning":"Evening"}}</span>
        </td>
        <td>
          {{schedule.startTime | date:"mediumDate"}}
        </td>
        <td>
          {{schedule.userId }}
        </td>
        <td>
          {{schedule.firstName}}
        </td>

        <td>
          {{schedule.lastName}}
        </td>
        <td>
          {{schedule.jobId}}
        </td>
        <td>
          {{schedule.jobTitle}}
        </td>
        <td [ngClass]="schedule.isApproved?'approved':'not-approved'">
          <span>
            {{schedule.isApproved ? "Approved":"Not Approved"}}
          </span>
        </td>
        <td class="edit-buttons">

          <button mat-raised-button (click)="handleDeleteSchedule(schedule)" class="delete-button">Delete</button>
          <button mat-raised-button *ngIf="!schedule.isApproved" (click)="handleApproveSchedule(schedule)"
            class="approve-button">Approve</button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
