<div class="admin-dashboard">
  <h1>Admin Dashboard</h1>
  <app-schedule-table></app-schedule-table>

  <div class="control-buttons">
    <button mat-stroked-button routerLink="./edit-user" routerLinkActive="active">User Control</button>
    <button mat-stroked-button routerLink="./edit-job" routerLinkActive="active">Job Control</button>
    <button mat-stroked-button routerLink="./edit-schedule" routerLinkActive="active">Schedule Control</button>
  </div>
  <div class="outlet-div">
    <router-outlet />
  </div>
</div>
