<div class="flex-container">
  <div class="button-container" #buttons>
    <button (click)="switchToPreviousWeek()" mat-raised-button #prev>Previous Week</button>
    <button (click)="switchToNextWeek()" mat-raised-button #next>Next Week</button>
  </div>
  <table class="mat-elevation-z7" *ngIf="dataIsLoaded; else loadingSpinner">

    <thead>
      <tr>
        <th class="mat-header-cell">{{ columns[0] }}</th>
        <th *ngFor="let day of columns.slice(1)" class="mat-header-cell">
          {{ day }}
          {{ dayAndMonthColumns[columns.indexOf(day) - 1].getMonth() | toMonth | titlecase}}
          {{ dayAndMonthColumns[columns.indexOf(day) - 1].getDate() }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of currentWeekData">
        <td class="mat-cell job-td">{{ row.Jobs }}</td>
        <td *ngFor="let day of columns.slice(1)" class="mat-cell">
          <div class="mat-cell">
            <ng-container class="morning-shifts" *ngFor="let worker of row[day]">
              <div class="morning-shift" *ngIf="isMorningShift(worker.startTime) && worker.isApproved">
                <span>Morning Shift: </span>
                <span>{{worker.firstName}} {{worker.lastName}}</span>
              </div>
            </ng-container>

            <ng-container class="evening-shifts" *ngFor="let worker of row[day]">
              <div class="evening-shift" *ngIf="!isMorningShift(worker.startTime) && worker.isApproved">
                <span>Evening Shift: </span>
                <span>{{worker.firstName}} {{worker.lastName}}</span>
              </div>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>

  </table>
  <ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

</div>
