<div class="register-card">
  <h1>Register</h1>
  <mat-card class="outlined">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerUserForm" (ngSubmit)="handleSubmit()" class="register-form">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" formControlName="firstName" type="text"
            (blur)="handleRegisterError()">
          <mat-error *ngIf="registerError.firstNameError">{{registerError.firstNameError}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName" type="text" (blur)="handleRegisterError()">
          <mat-error *ngIf="registerError.lastNameError">{{registerError.lastNameError}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" type="email" (blur)="handleRegisterError()">
          <mat-error *ngIf="registerError.emailError">{{registerError.emailError}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="******" formControlName="password" [type]="hiddenPassword ? 'password': 'text'"
            (blur)="handleRegisterError()">

          <button mat-icon-button matSuffix (click)="changePasswordState('password')">
            <mat-icon>{{hiddenPassword ? 'visibility_off' : 'visibility_on'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerError.passwordError">{{registerError.passwordError}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="******" formControlName="confirmPassword"
            [type]="hiddenConfirmPassword ? 'password':'text'" (blur)="handleRegisterError()">
          <button mat-icon-button matSuffix (click)="changePasswordState('confirmPassword')">
            <mat-icon>{{hiddenConfirmPassword ? 'visibility_off' : 'visibility_on'}}</mat-icon>
          </button>
          <mat-error *ngIf="registerError.passwordError">{{registerError.passwordError}}</mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Jobs</mat-label>
          <mat-select formControlName="jobId" (opened)="handleRegisterError()">
            <!--            <mat-option>None</mat-option>-->

            <mat-option *ngFor="let job of (jobs$| async)" [value]="job.id">{{job.title}}</mat-option>
          </mat-select>
          <mat-error *ngIf="registerError.jobIdError">{{registerError.jobIdError}}</mat-error>
        </mat-form-field>

        <mat-error>{{registerError.registerError}}</mat-error>
        <div class="register-buttons">
          <button mat-raised-button style="" type="submit">Register</button>
          <button mat-button routerLink="/login">Already Registered?</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>

</div>



<!--<form [formGroup]="registerUserForm" (ngSubmit)="handleSubmit()">
  <label>First Name</label>
  <input type="text" formControlName="firstName" />
  <br />
  <label>Last Name</label>
  <input type="text" formControlName="lastName" />
  <br />

  <label>Email</label>
  <input type="email" formControlName="email" />
  <br />
  <label>Password</label>
  <input type="password" formControlName="password" />
  <br />
  <label>Confirm Password</label>
  <input type="password" formControlName="confirmPassword" />
  <br />
  <label>Job</label>
  <select formControlName="jobId">
    <option value="1">1</option>
  </select>

  <button type="submit" [disabled]="registerUserForm.invalid">Register</button>
</form>-->
