<div class="edit-user-div">
  <table class="t">
    <thead class="t-h">
      <th *ngFor="let colName of columns">
        {{colName}}
      </th>
    </thead>

    <tbody class="t-b">
      <tr *ngFor="let user of (users$ | async) " class="t-r">
        <td>
          {{user.id}}
        </td>
        <td>

          {{user.firstName}}
        </td>
        <td>

          {{user.lastName}}
        </td>
        <td>
          {{user.jobId | jobIdToTitle | async }}
        </td>
        <td>

          {{user.roleId | roleIdToTitle}}
        </td>

        <td class="edit-buttons">
          <button mat-raised-button (click)="handleChangeRole(user.id)">Change Role</button>
          <button mat-raised-button (click)="handleDeleteUser(user)">Delete User</button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
