::ng-deep .success-snackbar {
  --mdc-snackbar-container-color: rgb(76, 187, 23) !important;
}

::ng-deep .error-snackbar {
  --mdc-snackbar-container-color: red !important;
}


::ng-deep .info-snackbar {
  --mdc-snackbar-container-color: rgb(0, 150, 255) !important;
}
