<!--nav class="nav-bar">
  <ul>
    <li routerLinkActive="active-link" [routerLink]="['home']"><a>Home</a></li>
    <li routerLinkActive="active-link" [routerLink]="['login']"><a>Login</a></li>
    <li routerLinkActive="active-link" [routerLink]="['register']"><a>Register</a></li>
  </ul>
</nav>-->

<nav class="navbar bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" href="#">Shift Controller</a>
    </div>


    <button type="button" class="btn btn-danger">Log Out</button>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>-->
  </div>
</nav>
